# Mythøs Network - GitHub Database
GITHUB_REPO=mythosnetworkbr-cell/Myth-s-Network-Site
GITHUB_TOKEN=COLE_UM_TOKEN_DO_GITHUB_COM_ACESSO_AO_REPOSITORIO
SESSION_SECRET=COLOQUE_UMA_CHAVE_LONGA_E_ALEATORIA
