DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
BOT_STATUS=Mythøs Network | NYX Roleplay
TICKET_CATEGORY_ID=
SUPPORT_ROLE_ID=
LOG_CHANNEL_ID=
ADMIN_ROLE_ID=
WHITELIST_ROLE_ID=
SAMP_HOST=
SAMP_PORT=7777
